Source: libsystemu-ruby
Section: ruby
Priority: extra
Maintainer: Bryan McLellan <btm@loftninjas.org>
Build-Depends: cdbs, ruby-pkg-tools (>= 0.14), debhelper (>= 7)
Build-Depends-Indep: graphviz, ruby1.8, ruby1.9, libsetup-ruby1.8
Standards-Version: 3.8.2

Package: libsystemu-ruby
Architecture: all
Depends: libsystemu-ruby1.8, ${misc:Depends}
Suggests: libsystemu-ruby-doc
Description: univeral child process handling library
 A ruby library to handle spawned processes in a platform independent fashion.
 This library will capture stdout and stderr and track child process pid.
 .
 This package is a dependency package, which depends on the package
 containing actual Ruby systemu library for the default Ruby version
 (currently 1.8).

Package: libsystemu-ruby1.8
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby1.8
Description: univeral child process handling library for Ruby 1.8
 A ruby library to handle spawned processes in a platform independent fashion.
 This library will capture stdout and stderr and track child process pid.
 .
 This package contains systemu library for Ruby 1.8.

Package: libsystemu-ruby1.9
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby1.9
Description: univeral child process handling library for Ruby 1.9
 A ruby library to handle spawned processes in a platform independent fashion.
 This library will capture stdout and stderr and track child process pid.
 .
 This package contains systemu library for Ruby 1.9.

Package: libsystemu-ruby-doc
Section: doc
Architecture: all
Depends: libsystemu-ruby, ${misc:Depends}
Description: Documentation for libsystemu-ruby
 A ruby library to handle spawned processes in a platform independent fashion.
 This library will capture stdout and stderr and track child process pid.
 .
 This package provides generated HTML documentation for libsystemu-ruby.

