Source: stompserver
Section: ruby
Priority: extra
Maintainer: Bryan McLellan <btm@loftninjas.org>
Uploaders: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Vcs-Browser: http://svn.debian.org/wsvn/pkg-ruby-extras/packages/stompserver/trunk/
Vcs-Svn: svn://svn.debian.org/pkg-ruby-extras/packages/stompserver/trunk/
Build-Depends: cdbs, debhelper (>= 7)
Build-Depends-Indep: ruby-pkg-tools (>= 0.14), graphviz, ruby1.8
Standards-Version: 3.8.2
Homepage: http://stompserver.rubyforge.org/

Package: stompserver
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby1.8, libdaemons-ruby1.8, libeventmachine-ruby1.8
Description: a stomp messaging server implemented in ruby
 Stompserver is a stomp messaging server with support for multiple FIFO
 based queue backends including file, dbm, memory and activerecord.
 It supports basic authentication and queue monitoring.
