#!/usr/bin/make -f
# -*- makefile -*-
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/ruby-pkg-tools/1/class/ruby-common.mk

CDBS_NO_DOC_SYMLINKING = ""

PACKAGED_RUBY_SETUP_CMD = /usr/lib/ruby/1.8/setup.rb
DEB_RUBY_SETUP_CMD = debian-setup.rb
DEB_RUBY_CONFIG_ARGS = --installdirs=std

# command to install symlink to packaged setup.rb: used in both build and clean
# targets
DEB_RUBY_INSTALL_SETUP_CMD = \
  if [ ! -L $(DEB_RUBY_SETUP_CMD) ] ; then \
    if [ -f $(DEB_RUBY_SETUP_CMD) ] ; then \
      mv $(DEB_RUBY_SETUP_CMD) $(DEB_RUBY_SETUP_CMD).moved_away_by_debian_build ;\
    fi ; \
    ln -s $(PACKAGED_RUBY_SETUP_CMD) $(DEB_RUBY_SETUP_CMD) ; \
  fi

DEB_RUBY_REMOVE_SETUP_CMD = \
  if [ -L $(DEB_RUBY_SETUP_CMD) ] ; then \
    rm $(DEB_RUBY_SETUP_CMD) ; \
  fi ; \
  if [ -f $(DEB_RUBY_SETUP_CMD).moved_away_by_debian_build ] ; then \
    mv $(DEB_RUBY_SETUP_CMD).moved_away_by_debian_build $(DEB_RUBY_SETUP_CMD) ; \
  fi

MERB_CORE_INSTALL_SETUP_CMD = \
  if [ ! -L merb-core/$(DEB_RUBY_SETUP_CMD) ] ; then \
    if [ -f merb-core/$(DEB_RUBY_SETUP_CMD) ] ; then \
      mv merb-core/$(DEB_RUBY_SETUP_CMD) merb-core/$(DEB_RUBY_SETUP_CMD).moved_away_by_debian_build ;\
    fi ; \
    ln -s $(PACKAGED_RUBY_SETUP_CMD) merb-core/$(DEB_RUBY_SETUP_CMD) ; \
  fi

MERB_CORE_REMOVE_SETUP_CMD = \
  if [ -L merb-core/$(DEB_RUBY_SETUP_CMD) ] ; then \
    rm merb-core/$(DEB_RUBY_SETUP_CMD) ; \
  fi ; \
  if [ -f merb-core/$(DEB_RUBY_SETUP_CMD).moved_away_by_debian_build ] ; then \
    mv merb-core/$(DEB_RUBY_SETUP_CMD).moved_away_by_debian_build merb-core/$(DEB_RUBY_SETUP_CMD) ; \
  fi

install/merb-core::
	dh_installchangelogs
	dh_installdirs

install/libmerb-core-ruby1.8::
	$(MERB_CORE_INSTALL_SETUP_CMD)
	(cd merb-core && /usr/bin/ruby $(DEB_RUBY_SETUP_CMD) config $(DEB_RUBY_CONFIG_ARGS))
	(cd merb-core && /usr/bin/ruby $(DEB_RUBY_SETUP_CMD) setup)
	(cd merb-core && /usr/bin/ruby $(DEB_RUBY_SETUP_CMD) install --prefix=../debian/libmerb-core-ruby1.8)
	mv $(CURDIR)/debian/libmerb-core-ruby1.8/usr/bin/merb* $(CURDIR)/debian/merb-core/usr/bin/
	rmdir $(CURDIR)/debian/libmerb-core-ruby1.8/usr/bin/

#install/libmerb-assets-ruby1.8::
#install/libmerb-haml-ruby1.8::
#install/libmerb-helpers-ruby1.8::
#install/libmerb-slices-ruby1.8::
#install/libmerb-ruby-doc::
#install/merb-slices::

clean::
	$(DEB_RUBY_INSTALL_SETUP_CMD)
	$(MERB_CORE_REMOVE_SETUP_CMD)
	/usr/bin/ruby $(DEB_RUBY_SETUP_CMD) distclean
	$(DEB_RUBY_REMOVE_SETUP_CMD)
	$(MERB_CORE_REMOVE_SETUP_CMD)
	rm -f $(DEB_SRCDIR)/.config
	rm -f $(DEB_SRCDIR)/InstalledFiles
